/*==== Google Fonts ====*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,400;1,500&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Lacquer&display=swap');

/*==== Generic CSS ====*/
:root {
    --header-height: 3rem;
    --font-semi: 600;
}
/*
====================================
|   |   |   | Preloader
====================================
*/
/*
#preloader {
    background-color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

#status {
    background-image: url("../img/preloader/preloader.gif");
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -35px;
    margin-left: -35px;

}
*/
/*
====================================
|   |   | Colors
====================================
*/
:root {
    --moony-color: #F4C613;
    --white-color: #F5F5F5;
    --black-color: #000000;
    --text-color: #64707b;
}

/*
====================================
|   |   | Fonts
====================================
*/
:root {
    --body-font: 'Raleway', sans-serif;
    --big-font-size: 2.5rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 1.5rem;
}

/*
====================================
|   |   | Margin
====================================
*/
:root {
    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
}

/*
====================================
|   |   | Z-Index
====================================
*/
:root {
    --z-fixed: 100;
}

/*
====================================
|   |   | Base
====================================
*/
*,
::before,
::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: var(--text-color);
    line-height: 1.6;
}

h1,
h2,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/*
====================================
|   |   | Class CSS
====================================
*/
.section {
    padding: 3rem 0;
}

.section-title {
    position: relative;
    font-size: var(--h2-font-size);
    color: var(--black-color);
    margin: var(--mb-4) 0;
    text-align: center;
}

.section-title::after {
    position: absolute;
    content: "";
    width: 32px;
    height: .18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 2rem;
    background-color: var(--moony-color);
}

/*
====================================
|   |   | Layout
====================================
*/
.bd-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}

.l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--black-color);
}

/*
====================================
|   |   | Nav
====================================
*/
.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {
    .nav__menu {
        position: fixed;
        top: var(--header-height);
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 2rem;
        background-color: rgba(255, 255, 255, .5);
        transition: .5s;
        backdrop-filter: blur(10px);
        color: var(--white-color);
    }
}

.nav__item {
    margin-bottom: var(--mb-4);
}

.nav__link {
    position: relative;
    color: var(--black-color);
}

.nav__link:hover {
    color: var(--moony-color);
}

.nav__logo {
    color: var(--moony-color);
    font-size: 25px;
    font-weight: 500;
    /* font-family: 'Sedgwick Ave Display', cursive; */
    font-family: 'Lacquer', cursive;
}

.nav__logo:hover{
    color: var(--white-color);
    -webkit-transition: ease 1s;
    transition: ease 1s;
}
.nav__toggle {
    color: var(--moony-color);
    font-size: 1.5rem;
    cursor: pointer;
}

/*
====================================
|   |   | Show menu
====================================
*/
.show {
    right: 0;
}

/*Active menu*/
.active::after {
    position: absolute;
    content: "";
    width: 100%;
    height: .18rem;
    left: 0;
    top: 2rem;
    background-color: var(--moony-color);
}

/*
====================================
|   |   | Home
====================================
*/
.home__container {
    height: calc(100vh - var(--header-height));
    row-gap: 3rem;

}

.home {
    background-color: var(--black-color);
    position: relative;
}

.home__data {
    align-self: center;
}

.home__title {
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-4);
    color: var(--white-color);
    font-weight: 500;
    padding-top: 70px;
}

.home__title-color {
    color: var(--moony-color);
    font-weight: 700;
}

.home__social {
    display: inline-block;
    background-color: var(--black-color);
    margin-left: 41%;
}

.home__social-icon {
    width: max-content;
    font-size: 2.15rem;
    color: var(--moony-color);
    padding-right: 5px;
    padding-left: 5px;

}

.home__social-icon:hover {
    color: var(--white-color);
    -webkit-transition: all 1s;
    transition: all 1s;
}

.home__scroll {
    align-self: flex-end;
    padding-top: var(--mb-4);
}

.home__scroll-link {
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    color: var(--moony-color);
    -webkit-transition: ease 1s;
    transition: ease 1s;
    text-transform: uppercase;

}

.home__scroll-link:hover {
    color: var(--white-color);
}

/*
====================================
|   |   | Button
====================================
*/
.button {
    background-color: var(--moony-color);
    color: var(--black-color);
    font-weight: 600;
    font-size: 24px;
    border-color: #F5F5F5;
    text-transform: uppercase;
    padding: 12px 24px 12px 24px;
    border: 1px solid var(--moony-color);
    border-width: 1px;
    -webkit-transition: ease 1s;
    transition: ease 1s;
}

.button:hover {
    background-color: var(--black-color);
    color: var(--moony-color);
    border: 1px solid var(--white-color);
    -webkit-transition: ease 1s;
    transition: ease 1s;
}











/*
====================================
|   |   | Media Queries
====================================
*/
@media screen and (min-width: 769px){
    body{
        margin: 0;
    }
    .section{
        padding-top: 4rem;
    }
    .section-title{
        margin-bottom: 3rem;
    }
    .section-title::after{
        width: 64px;
        top: 3rem;
    }

    .nav{
        height: calc(var(--header-height) + 1rem);
    }
    .nav__list{
        display: flex;
    }
    .nav__item{
        margin-left: var(--mb-4);
        margin-bottom: 0;
    }
    .nav__toggle{
        display: none;
    }
    .nav__link{
        color: var(--white-color);
    }
    .nav__link:hover{
        color: var(--moony-color);
    }
    .active::after{
        background-color: var(--moony-color);
    }

    .home__container{
        height: 100vh;
        grid-template-rows: 1.7fr 1fr;
        row-gap: 0;
    }

    .about__container{
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        text-align: initial;
        padding: 4rem 0;
    }
    .about__img{
        width: 200px;
        height: 200px;
    }
    .about__img img{
        width: 165px;
    }

    .skills__container{
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .portfolio__container{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 2rem;
    }

    .contact__container{
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
    .contact__form{
        width: 380px;
    }

    .footer__container{
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
    }
}

@media screen and (min-width: 1024px){
    .bd-grid{
        margin-left: auto;
        margin-right: auto;
    }
}

@media(max-width:767px){
    .home__social-icon {
        font-size: 2rem;
    }

    .home__title {
        font-size: var(--small-font-size);
        margin-bottom: var(--mb-3);
        
    }

    .home__data{
        text-align: center;
    }

    .home__scroll {
        align-self: flex-end;
        padding-top: 28px;
        padding-bottom: 4px;
    }

    .home__social {
        margin-left: 35%;
    }

    .button {
        font-weight: 600;
        font-size: 18px;
        padding: 10px 28px 10px 28px;
    }
}
/*
====================================
|   | For super small mobiles i5/se
====================================
*/
@media(max-width:320px){
    .home__data{
        text-align: center;
    }
}
/*
====================================
|   | For iphone 6-8
====================================
*/
@media(max-width:375px){
    .home__data{
        text-align: center;
    }
}
/*
======================================
|Media Queries for mobile rotate mode
======================================
*/
@media(min-width:667px) and (max-width:736px){
    .home__data{
        text-align: center;
    }
}
/*
====================================
|   |   |
====================================
*/


    /*
====================================
Deafult Theme
------------------------------------
Fonts: Raleway
------------------------------------
Colors:
        Moon Yellow: #F4C613
        White Smoke: #F5F5F5
        Black      : #000000
====================================
*/